---
layout: default
---
{% include header.pug  %}
div.wrapper
	div#content
		h2 Vítejte na webu projektu Policie pomáhající a chránící	
		ul
			li Policie pomáhající a chránící je projektem Libertariánského institutu s ambicí změnit celospolečenské vnímání policie 
			li Cílem je zvýšení společenské reputace policie. 
			li Vizí je policie vnímaná jako instituce pracující pro občany, která jim skutečně pomáhá a skutečně je chrání. 
			li Hledáme cestu k dialogu s policisty, kteří sami nejlépe vědí, co je trápí.
		div.detail Zasahovat tam, kde je někomu nebo něčemu ubližováno, tam, kde hrozí reálné nebezpečí. 

