---
layout: default
---
{% include header.pug  %}
div.wrapper
	div#content
		h2 Co má a nemá mít policie v popisu práce:
		div.detail
			h3 Základní východisko: Policie má zasahovat tam, kde
			ol
				li je někomu ubližováno
				li je poškozován něčí majetek 
				li hrozí reálné nebezpečí.
		h2 Témata k diskusi:
		ol
			li Doprava
			li Prohibice
			li Prosituce
			li Zbytečná administrativa
				li Co trápí naše policisty
			



