{% include head.pug %}
header#site-header
	#top-banner
		.wrapper Site header
	div.navtainer 
		div.wrapper
			nav#top-nav
				div.nitem#home(onclick="window.location.replace('./index.html')") Home
				div.nitem#vydelat(onclick="window.location.replace('./page1.html')") Page 1 
				div.nitem#naklad(onclick="window.location.replace('./page2.html')") Page 2
				div.nitem#dostaneme(onclick="window.location.replace('./page3.html')") Page 3 






