{% include head.pug %}
header#site-header
	#top-banner
		div.wrapper Policie pomáhající a chránící
	div.navtainer 
		div.wrapper
			nav#top-nav
				div.nitem#home(onclick="window.location.replace('./index.html')") Homepage
				div.nitem#vydelat(onclick="window.location.replace('./temata.html')") Témata 
				div.nitem#naklad(onclick="window.location.replace('./aktivity.html')") Aktivity
				div.nitem#dostaneme(onclick="window.location.replace('./zapojit-se.html')") Jak se zapojit






