header.site-header{
	background-color: $li;
	
	#topnav{
		line-height: 56px;
		background-color: $li;
		font-size: 120%;
		
		.nitem{
			margin: 0px 15px;
			>a{
        			color: white;
        		}
    		}
	}
}

.navbar{
    
}
